$backcolor: #f6f6f6;

.homecards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    justify-content: space-between;
    margin-top: 40px;
    background-color: $backcolor;
    border-radius: 25px;
    height: auto;
    padding: 56px 50px;

    @media (max-width: 1240px) {
        grid-template-columns: repeat(2, 1fr);
        max-width: 1200px;
        margin-top: 22px;
        grid-gap: 22px;
    }

    @media (max-width: 865px) {
        grid-template-columns: repeat(2, 1fr);
        max-width: 865px;
        margin-top: 22px;
        grid-gap: 22px;
    }

    @media (max-width: 785px) {
        grid-template-columns: repeat(1, 1fr);
        grid-template-columns: repeat(1, 1fr);
        background-color: white;
        padding: 0px;
        max-width: 745px;
        margin-top: 22px;
        grid-gap: 22px;
    }

}