.layout {
    align-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1240px;
    justify-content: space-between;

    .layout-content {
        width: 100%;
        //min-height: 818px;
        flex: 1;
        height: auto;
    }
}

Footer {
    
}