.dropdown-item {
    margin-top: 30px;
    max-width: 1023px;

    @media (max-width: 785px) {
        margin-top: 10px;
    }

    .dropdown-bar {
        background-color: #FF6060;
        border: 1px solid #FF6060;
        border-radius: 5px;
        padding-left: 15px;
        position: relative;
        align-content: center;
        height: 54px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media (max-width: 785px) {
            height: 30px;
        }

        .dropdown-title {
            font-size: 24px;
            font-weight: 700;
            color: white;
            font-family: "Montserrat", sans-serif;
            line-height: 143%;
            text-align: left;
            width: 75%;
            margin: 0px;
            text-align: left;

            @media (max-width: 785px) {
                font-size: 13px;
            }

        }

        .dropdown-icon {

            width: 32px;
            height: 32px;
            cursor: pointer;
            transition: transform 0.3s ease;
            transform-origin: 16px 16px;
            margin-right: 20px;

            &.active {
                transform: rotate(-180deg);
            }
        }


    }

    .dropdown-section {
        background-color: rgb(249, 249, 249);
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease-in-out;
        padding: 0px;


        &.active {
            max-height: 500px;

        }

        .dropdown-content {
            color: black;
            font-size: 18px;
            font-weight: 400;
            line-height: 135%;
            text-align: left;
            font-family: "Montserrat", sans-serif;
            height: auto;
            overflow: hidden;
            padding: 20px;
            width: 100%;
            transform: translateY(-60px);
            transition: transform 0.3s ease-in-out;
            width: calc(100% - 40px);

            @media (max-width: 785px) {
                font-size: 12px;
            }

            &.active {
                transform: translateY(0);
            }

            ul {
                padding: 0px;
                margin: 0px;

                li {
                    list-style-type: none;
                }
            }
        }
    }
}