.carrousel {
    position: relative;
    width: 1240px;
    height: 415px;
    margin: 0 auto;

    @media (max-width: 1280px) {
        width: calc(100% - 40px);
        margin: 0 20px;

    }

    @media (max-width: 785px) {
        width: calc(100% - 40px);
        height: 255px;
    }

    .carrousel-images {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;


        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 25px;
        }
    }

    .carrousel-controls {
        display: flex;
        justify-content: space-between;
        position: absolute;
        top: 50%;
        left: 23px;
        right: 23px;
        transform: translateY(-50%);

        .carrousel-arrow {
            background: transparent;
            border: none;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: transform .2s ease-in-out;

            @media (max-width: 785px) {
                width: 24px;
                height: 24px;
            }

            img {
                width: 100%;
                height: 100%;
            }

            &:hover {
                transform: scale(1.2);
                transition: transform .2s ease-in-out;
            }
        }
    }

    .carrousel-counter {
        position: absolute;
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
        color: white;
        padding: 5px 10px;
        border-radius: 5px;
        font-size: 18px;
        font-weight: 500;
        font-family: 'Montserrat', sans-serif;
    }
}