.header {
    max-width: 1240px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    //padding: 0px 20px 0 20px;
    margin-top: 45px;
    margin-bottom: 50px;
    width: 100%;
    box-sizing: border-box;

    @media (max-width: 1280px) {
        max-width: calc(100% - 40px);
    }

    @media (max-width: 785px) {
        max-width: calc(100% - 40px);
        margin-top: 20px;
        margin-bottom: 27px;
    }

    @media (max-width: 375px) {
        max-width: calc(100% - 40px);
        margin-top: 0px;
    }




    .header-logo {
        img {
            width: 210px;
            height: 68px;

            @media (max-width: 785px) {
                width: 145px;
            }

            @media (max-width: 375px) {
                width: 145px;
            }

        }
    }

    .header-nav {
        display: flex;
        gap: 57px;

        @media (max-width: 785px) {
            gap: 26px;
        }

        @media (max-width: 375px) {
            gap: 26px;
        }

        .header-link {
            font-weight: 500;
            color: black;
            font-family: "Montserrat", sans-serif;
            text-decoration: none;
            line-height: 143%;
            font-size: 24px;
            font-weight: 500;

            &.active {
                text-decoration: underline 2px solid black;
            }

            @media (max-width: 785px) {
                font-size: 12px;
            }

            @media (max-width: 375px) {
                font-size: 12px;
            }


        }
    }
}