.banner {
    position: relative;
    width: 100%;
    height: 223px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;

    @media (max-width: 785px) {
        height: 111px;
        //width: auto;
        margin-top: 0px;
    }

    @media (max-width: 785px) {
        height: 111px;
        width: 100%;
        margin-top: 0px;
    }

    .banner-image {
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        object-fit: cover;
        border-radius: 25px;
        box-shadow: 0px 4px 4px 0px #00000040;

        @media (max-width: 785px) {
            height: 111px;
            width: 100%;
            border-radius: 10px;
        }

        @media (max-width: 375px) {
            height: 111px;
            width: 335px;
            border-radius: 10px;
        }
    }

    .banner-light {
        filter: brightness(0.6);
    }

    .banner-dark {
        filter: brightness(0.4);
    }

    .slogan {
        position: absolute;
        top: calc(50% - 32px);
        left: 50%;
        margin: 0px;
        transform: translateX(-50%);
        font-family: "Montserrat", sans-serif;
        font-weight: 700;
        font-size: 48px;
        line-height: 64px;
        color: white;
        width: 100%;
        padding: 16px;

        @media (max-width: 785px) {
            font-size: 24px;
            flex-wrap: wrap;
            text-align: left;
            top: calc(50% - 40px);
            width: 300px;
            line-height: 100%;
            transform: none;
            left: 0;
        }


    }
}